<%= form_with(model: race, local: true) do |form| %>
  <% if race.errors.any? %>
    <div id="error_message">
      <h2><%= pluralize(race.errors.count, "error") %> prevented this race from being saved:</h2>
      <ul>
        <% race.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit ("Create Race") %>
  </div>
<% end %>