<div>
  <h1>Race Details: <%= @race.name %></h1>

  <%= render 'show_complete_race', race: @race %>

  <%= render 'show_confirmed_race', race: @race, lane_assignments: @lane_assignments %>

  <%= render 'show_setup_race', race: @race, lane_assignments: @lane_assignments %>

  <div>
    <%= link_to 'Back home', root_path %>
  </div>
</div>