<!DOCTYPE html>
<html>
  <head>
    <title>LiveheatsTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type == 'notice' ? 'success' : 'danger' %>">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
